.Info {
    text-align: center;
    position: absolute;
    top: 50px;
    right: 500px;
    border: 2px solid #000;
    width: 50%;
}
.Flag img {
    width: 500px;
    height: 500px;
}
.Choose {
    text-align: center;
    position: absolute;
    top: 50px;
    right: 500px;
}
