.Countries {
   text-decoration: underline;
    line-height: 1.4;
    list-style: none;
    text-align: center;
    border: 2px solid #000;
    width: 18%;
    height: 500px;
    overflow-y: scroll;
}
.Countries li:hover{
    background-color: grey;
    text-transform: uppercase;
}
/*.Countries ol{*/
    /*counter-reset: my-counter;*/
/*}*/
/*.Countries ol li:before{*/
    /*content: counter(my-counter);*/
    /*counter-increment: my-counters;*/


/*}*/